.back{
    background-image:url(bg.png);
    background-repeat: no-repeat;
    background.position: center;
    background-size: cover;
    width:100%;
    height:650px;
    
}

.box {
     background-image: url(box.png);
     width:250px;
     height:250px; 
     background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    position:  absolute;
    margin-top: 300px; 
    margin-left: 0px
  }
  .ball {
     background-image: url(ball.png);
     width:100px;
     height:100px; 
     background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    position:  absolute;
    margin-top: 430px; 
    
  }

.level1 {
  color: black; 
  border: 6px solid #4CAF50;

}

.level1:hover {
  background-color: #4CAF50;
  color: white;
}

.level2 {
 
  color: black; 
  border: 6px solid #008CBA;
}

.level2:hover {
  background-color: #008CBA;
  color: white;
}

.level3 {
  
  color: black; 
  border: 6px solid #f44336;
}

.level3:hover {
  background-color: #f44336;
  color: white;
}
.ghost-button-thick-border {
  display: inline-block;
  width:305px;
   height:30px; 
  font-weight: bold;
  padding: 8px;
  color: #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
  color 0.2s ease-out;
  cursor: pointer;
}
