/*defaults*/
header, nav, footer{
    display: block;
}

body{
    width: 100%;
    padding: 0;
    line-height: 1;
    margin: 0;
}
.container{
    width: 100%;
    /*split u counted margin */
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
      
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content: "";
     margin 0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*navbar*/
nav{
    width: 100%;
    margin: 0;
   
}
nav ul {
    background-color:#E8E8E8;
    overflow: hidden;
    /*background-color nor shown without setting overflow*/
    padding: 0;
    margin: 0;
}
ul.topnav li{
    list-style: none;
    float: left;
}
ul.topnav li :hover{
   background-color: #2C3AF8;
    color: aliceblue; 
}
ul.topnav li.topnav-right{
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
}
ul.topnav li.dropdownicon{
    display: none;
}

/*********custom*********/
#gradient{
 background-image: linear-gradient(	#00BFFF, #6495ED);   
}
h1.large{
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 0;
    width: 300px;
    padding-right: 0;
}
h1.med{
    font-size: 30px;
    margin-left: 70px;
}
input[type="text"]{
    width: 300px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}
form h2{
    color: #fff;
}
div.leftsidecol{
   width: 50%;
    margin-left: 30%;
}
div.rightsidecol{
  margin-left: 0%;
}
/*mobile*/

@media screen and (max-width: 600px) {
ul.topnav li:not(:nth-child(1)){
        display: none;
    }
ul.topnav li.dropdownicon{
display: block;
float: right;
    }
    

ul.topnav.responsive
li.dropdownicon{
    position: absolute;
    top: 0;
    right: 0;
}
ul.topnav.responsive {
   position: relative;
    /*silebiliriz*/
}
ul.topnav.responsive li{
 display: inline;
 float: none;
}
topnav.responsive li a{
    /*silebiliriz*/
   display: block;   
    text-align: left;
}

div.leftsidecol,
div.rightsidecol{
    margin-left: 10%;
}
.col-6{
    width: 100%;
    margin-bottom: 10%;
}
    input[type="text"]{
    width: 250px;
        margin 0;
 
}
    .vidContainer iframe{
        position: relative;
        width: 100%;
        margin 0;
        overflow: hidden;
    } 
}